<h3>Type a Message</h3>

<form method="POST" action="/new">
    <label for="message-content">Message:</label>
    <input type="text" id="message-content" name="message"/>
    <label for ="author-content">Author:</label>
    <input type="text" id="author-content" name="author"/>
    <button>Submit</button>
</form>
